html {
 background: #221F30;
 color: white;
 justify-content: center;
 text-align: center;
}

h1,h2,h3 {
  font-family: Arial;
}

h4,h5,p,a {
    font-family: monospace;
    text-decoration: none;
}